<!DOCTYPE HTML>
<html>
 <head>
     {% load static %}
  <title>商品管理系统</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="{% static 'css/dpl-min.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static 'css/bui-min.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static 'css/main-min.css' %}" rel="stylesheet" type="text/css" />
 </head>
 <body>
	<div class="header">
	    <div class="dl-title">
	        <span class="lp-title-port">BZ</span><span class="dl-title-text">商品管理系统</span>
	       </a>
	     </div>
	    <div class="dl-log">欢迎您，<span class="dl-log-user">管理员</span>
	    	<a href="#" title="退出系统" class="dl-log-quit">[退出]</a>
	    	<a href="#" title="文档库" class="dl-log-quit">文档库</a>
	    </div>
	</div>
    <div class="content">
    <div class="dl-main-nav">
      <div class="dl-inform"><div class="dl-inform-title">贴心小秘书<s class="dl-inform-icon dl-up"></s></div></div>
      <ul id="J_Nav"  class="nav-list ks-clear">
        <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">首页</div></li>
      </ul>
    </div>
    <!--
    	重点！！！
    	用以引入Scriptz中的数据
    -->
    <ul id="J_NavContent" class="dl-tab-conten"></ul>
   </div>
   <!-- BUI框架，做网站的导航栏 -->
  <script type="text/javascript" src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bui.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
  <script src="{% static 'js/common/main.js' %}"></script>
  <script>
    BUI.use('common/main',function(){
    {#BUI.use('{% url 'main:main' %}',function(){#}
      var config = [{
          id:'menu', 
          homePage : 'code',
          menu:[{
              text:'商品管理',
              items:[
                {id:'code',text:'增加商品',href:'{% url 'main:add' %}',closeable : false},
                {id:'main-menu',text:'商品列表',href:'{% url 'main:list' %}'}
              ]
            },{
              text:'商品类别管理',
              items:[
                {id:'operation',text:'增加商品父类别',href:'{% url 'main:zjsp' %}'},
                {id:'quick',text:'增加商品子类别',href:'{% url 'main:zjzlb' %}'},
                {id:'quick',text:'商品类别列表',href:'{% url 'main:splb' %}'}
              ]
            },{
              text:'地址管理',
              items:[
                {id:'resource',text:'地址列表',href:'{% url 'main:dzlist' %}'}
              ]
            }]
          }];
      new PageUtil.MainPage({
        modulesConfig : config
      });
    });
  </script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='utf-8'></script></div>
</body>
</html>